<app-components-notes-create-note-modal (noteCreated)="createNote($event)"></app-components-notes-create-note-modal>
<app-components-notes-update-note-modal (noteUpdated)="updateNote($event)"></app-components-notes-update-note-modal>

<div class="container">
  <div class="row my-3">
    <div class="col">
      <h4>My Notes</h4>
    </div>
    <div class="col text-end">
      <button class="btn btn-primary" (click)="openCreateNoteModal()">
        <span class="iconify" data-icon="mdi-plus-circle"> </span>
        Create Note
      </button>
    </div>
  </div>
  <div class="row">
    @for (note of notes; track note.id) {
    <div class="col-12 col-lg-6 py-2">
      <app-components-notes-note
        [note]="note"
        (noteDeleteRequested)="null"
        (noteUpdateRequested)="openUpdateNoteModal($event)"
      ></app-components-notes-note>
    </div>
    } @empty { No notes have been created yet. }
  </div>
</div>
