<app-components-notes-create-note-modal (noteCreated)="createNote($event)"></app-components-notes-create-note-modal>
<app-components-notes-update-note-modal (noteUpdated)="updateNote($event)"></app-components-notes-update-note-modal>
<app-components-notes-delete-note-modal (noteDeleted)="deleteNoteById($event)">
</app-components-notes-delete-note-modal>

<app-components-shared-error-modal></app-components-shared-error-modal>

<div class="container">
  <div class="row my-3">
    <div class="col text-center">
      <h4>Notes</h4>
    </div>
  </div>
  <div class="row my-3">
    <div class="col d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <label for="notes">
          <span class="iconify" data-icon="mdi-filter"> </span>
          Filter By
        </label>
        <select
          name="notes"
          id="notes"
          [(ngModel)]="filters.notes"
          class="form-control ms-2"
          (change)="updateFilters()"
        >
          <option value="All">All</option>
          <option value="Active">Active</option>
          <option value="Archived">Archived</option>
        </select>
      </div>
      <button class="btn btn-primary" (click)="openCreateNoteModal()">
        <span class="iconify" data-icon="mdi-plus-circle"> </span>
        Create Note
      </button>
    </div>
  </div>
  <div class="row">
    @for (note of notes; track note.id) {
    <div class="col-12 col-lg-6 py-2">
      <app-components-notes-note
        [note]="note"
        (noteDeleteRequested)="openDeleteNoteModal($event)"
        (noteUpdateRequested)="openUpdateNoteModal($event)"
        (noteArchiveStateChangeRequested)="changeNoteArchiveStateById($event)"
      ></app-components-notes-note>
    </div>
    } @empty {
    <div class="col-12 mt-3 py-2 alert alert-warning">
      <p class="text-center h3">
        <span class="iconify" data-icon="mdi-note-off"> </span>
        No notes found with current filter.
      </p>
    </div>
    }
  </div>
</div>
