<div class="card shadow">
  <div class="card-body">
    <div class="card-title">
      <span class="iconify" data-icon="mdi-sticker"> </span>
      {{ note.title }}
    </div>
    <div class="card-subtitle text-muted">
      <span class="iconify" data-icon="mdi-calendar-plus"> </span>
      Created {{ note.created_at | date : 'dd/MM/YYYY' }}
      <span class="iconify ms-2" data-icon="mdi-calendar-edit"> </span>
      Updated {{ note.updated_at | date : 'dd/MM/YYYY' }}
      <span class="iconify ms-2" data-icon="mdi-archive"> </span>
      {{ note.archived ? 'Archived' : 'Active' }}
    </div>
    <div class="card-text mt-2">
      <div class="card shadow-sm mb-3">
        <div class="card-text p-2">
          <p class="note-content">
            {{ note.content }}
          </p>
        </div>
      </div>
      <p>
        <span class="iconify" data-icon="mdi-tag"> </span>
        @for (category of note.categories; track category.id) {
        <span class="badge text-bg-info mx-1"> {{ category.name }} </span>
        } @empty { <span class="text-muted"> No category </span> }
      </p>
      <button class="btn btn-sm btn-info" (click)="changeNoteArchiveState()">
        <span class="iconify" data-icon="mdi-archive-arrow-up"> </span>
        @if (note.archived) { Unarchive } @else { Archive }
      </button>
      <button class="btn ms-1 btn-sm btn-warning" (click)="updateNote()">
        <span class="iconify" data-icon="mdi-pencil"> </span>
        Edit
      </button>
      <button class="btn ms-1 btn-sm btn-danger" (click)="deleteNote()">
        <span class="iconify" data-icon="mdi-trash"> </span>
        Delete
      </button>
    </div>
  </div>
</div>
